<html style="height: 90.8%">
  <div style='border:1px solid rgba(255,255,255,.95); box-shadow: inset 0 0 1em #FF0DFF;background-color:#20003B; position:relative;top:-3%;width: 99.91%; height:112.475%;margin-left:0;margin-top:0;text-align:center;'>
    <!-- <h1>Asteroids! <a style="color:white" href="https://www.github.com/samschaack/asteroids"  target="_blank">(github)</a></h1> -->
    <br>
    <h4 style='font-family:monospace;color:white;'>wasd to move : click to shoot : 2, q, e to change weapon : space to activate shield - <a style="color:white;font-family:monospace;color:white;" href="/">back to homepage</a> - <a style="color:white;font-family:monospace;color:white;" href="https://www.github.com/samschaack/asteroids"  target="_blank">(github)</a></h4>
      <canvas width='1350' height='850' style='border:2px solid orange; box-shadow: 0 0 .5em orange;' id='game-screen'></canvas>
      <script>
        var canvas = document.getElementsByTagName("canvas")[0];
        var game = new Asteroids.Game(canvas);
        game.start();
      </script>
        <div style="margin-top:.5%;">
          <label style='font-family:monospace;color:white;font-decoration:bold;' for='score' id='lblScore'>
          </label>
        </div>
    </div>
  </div>
</html>