<style>
html {
  background-color: white;

  background-image: none;
  background-attachment: fixed;
  color: #444;
}
</style>
<body style="background-color:white;">
  <br>
  <center>
    <h2>my drawings (drag on image to change size)</h2>
    <img class="sizeable-image" data-id="1" style="-webkit-user-select: none;" src="http://i.imgur.com/i7f4THM.jpg" width="484" height="648" class="art-image">
    <p>
      pencil on paper, 2012
    </p>
    <img class="sizeable-image" data-id="2" src="http://i.imgur.com/M6KWMY6.jpg" width="711" height="545" class="art-image">
    <p>
      for my friend mc. pencil on paper, 2012
    </p>
    <img class="sizeable-image" data-id="3" style="-webkit-user-select: none;   -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;" src="http://i.imgur.com/xzFUgT8.png" width="711" height="545" class="art-image">
    <p>
      pencil on paper, 2013
    </p>
  </center>
  <div style="text-align:center;">
    <a style="color:#444" href="/">back to homepage</a><br><br>
  </div>
</body>