<style>
html {
  background-color: white;
  background-image: none;
  background-attachment: fixed;
  color: #444;
}
</style>
<body style="background-color:white;">
  <br>
  <center>
    <h2>some other stuff I made (drag on image to change size)</h2>
    <img class="sizeable-image" data-id="1" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/wJPiRad.jpg">
    <p>
      desktop build (dec 2014)
    </p>
    <img class="sizeable-image" data-id="2" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/niiJNPK.jpg">
    <p>
      architecture! (cathedral of knowledge, minecraft) (survival mode!)
    </p>
    <img class="sizeable-image" data-id="3" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/fUQgNG3.jpg">
    <p>
      east coast of scotland
    </p>
    <img class="sizeable-image" data-id="4" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/4EPYESN.jpg">
    <p>
      beautiful building - edinburgh
    </p>
    <img class="sizeable-image" data-id="5" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/MTIUJpK.jpg">
    <p>
      sunrise - san francisco (bay bridge)
    </p>
    <img class="sizeable-image" data-id="6" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/pc9O3Ub.jpg">
    <p>
      glorious day - san francisco
    </p>
    <img class="sizeable-image" data-id="7" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/NOuyoyd.jpg">
    <p>
      sunset - san francisco (looking over market st)
    </p>
    <img class="sizeable-image" data-id="8" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/2bCCp20.jpg">
    <p>
      fractal trees - hawaii
    </p>
    <img class="sizeable-image" data-id="9" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/TDn5eVb.png">
    <p>
      screenshot of one of my electronic music projects (fl studio)
    </p>
    <img class="sizeable-image" data-id="10" style="-webkit-user-select: none; max-width: 800px;" src="http://i.imgur.com/i7bfxne.png">
    <p>
      screenshot from an RPG I created and worked on for over a year during highschool (written in visual basic)
    </p>
  </center>
  <div style="text-align:center;">
    <a style="color:#444" href="/">back to homepage</a><br><br>
  </div>
</body>