<div class="main">
  <div class="info-wrapper">
    sam schaack's stuff
  </div>
  
  <div class="link-wrapper">
    <a href="http://www.psireddit.com">
      <div class="link-box psireddit-link">
        <div class="box-label">
          reddit++
        </div>
      </div></a>
    
    <a href="asteroids">
      <div class="link-box asteroids-link">
        <div class="box-label">
          asteroids
        </div>
      </div></a>
    
    <a href="resume">
      <div class="link-box resume-link">
        <div class="box-label">
          résumé
        </div>
      </div></a>
    
    <a href="music">
      <div class="link-box music-link">
        <div class="box-label">
          music
        </div>
      </div></a>
    
    <a href="art">
      <div class="link-box art-link">
        <div class="box-label">
          art
        </div>
      </div></a>
    
    <a href="https://www.github.com/samschaack" target="_blank">
      <div class="link-box github-link">
        <div class="box-label">
          github
        </div>
      </div></a>
  </div>
</div>

<script>
// function raiseAlert() {
//   alert("working")
// }
//
// $('.link-box').on('click', raiseAlert)
</script>