<style>
  html {
    overflow: hidden;
  }
</style>
<div class="main">
  <div class="info-wrapper">
    <span class="header-text" style="text-decoration:none;">sam schaack - recent work</span>
    <div class="message-box" style="font-size:28%;margin-top:1rem;margin-bottom:1.5rem;text-shadow:1px 1px #DEDEDE;">
      - - - (mouseover buttons for description) - - -
    </div>
  </div>
  
  <div class="left-border">
  </div>
  
  <div class="left-left-border">
  </div>
  
  <div class="bottom-border">
  </div>
  
  <div class="bottom-bottom-border">
  </div>
  
  <div class="top-border">
  </div>

  <div class="top-top-border">
  </div>

  <div class="link-wrapper">
    <a href="http://www.psireddit.com" target="_blank">
      <div class="link-box psireddit-link">
        <div class="border-wrap psireddit-link">
          <div class="box-label psireddit-link">
            reddit++
          </div>
        </div>
      </div></a>

    <a href="/asteroids">
      <div class="link-box asteroids-link old">
        <div class="border-wrap asteroids-link old">
          <div class="box-label asteroids-link old">
            asteroids
          </div>
        </div>
      </div></a>

    <a href="http://octodog.herokuapp.com" target="_blank">
      <div class="link-box asteroids-link new">
        <div class="border-wrap asteroids-link new">
          <div class="box-label asteroids-link new">
            multi-stroids
          </div>
        </div>
      </div></a>

    <a href="/resume">
      <div class="link-box resume-link">
        <div class="border-wrap resume-link">
          <div class="box-label resume-link">
            résumé
          </div>
        </div>
      </div></a>

    <a href="/music">
      <div class="link-box music-link">
        <div class="border-wrap music-link">
          <div class="box-label music-link">
            music
          </div>
        </div>
      </div></a>

    <a href="/drawings">
      <div class="link-box drawings-link">
        <div class="border-wrap drawings-link">
          <div class="box-label drawings-link">
            drawings
          </div>
        </div>
      </div></a>

    <a href="https://www.github.com/samschaack" target="_blank">
      <div class="link-box github-link">
        <div class="border-wrap github-link">
          <div class="box-label github-link">
            github
          </div>
        </div>
      </div></a>

    <a href="/more">
      <div class="link-box more-link">
        <div class="border-wrap more-link">
          <div class="box-label more-link">
            more...
          </div>
        </div>
      </div></a>
  </div>
</div>

<script>

function buttonMessage(event) {
  if ($($(event.target)[0]).hasClass("psireddit-link")) {
    $('.message-box').text("");
    $('.message-box').text("this is my latest project. it's a reddit clone with some extended functionality and a smoother, lighter style. it also includes some of my own original ideas, such as intra-site tabs. it is fully single page. (built with rails & backbone.js)");
  } else if ($($(event.target)[0]).hasClass("old")) {
    $('.message-box').text("");
    $('.message-box').text("this is an old, single player version of my asteroids project. its interesting features include a massive playing space, gravity, and the ability to land on and bounce off of planets and moons. (written in javascript)");
  } else if ($($(event.target)[0]).hasClass("new")) {
    $('.message-box').text("");
    $('.message-box').text("this is the multiplayer (and most up-to-date) version of my asteroids game. it was written by my friend daniel babiak and myself. we are currently working on optimization and stability. (written in javascript utilizing node.js)");
  } else if ($($(event.target)[0]).hasClass("resume-link")) {
    $('.message-box').text("");
    $('.message-box').text("my résumé.");
  } else if ($($(event.target)[0]).hasClass("music-link")) {
    $('.message-box').text("");
    $('.message-box').text("I make electronic music using FL Studio. this page contains some of the songs I've made. it also has a link to my soundcloud profile. the rest of the songs can be found there.");
  } else if ($($(event.target)[0]).hasClass("drawings-link")) {
    $('.message-box').text("");
    $('.message-box').text("this page has pictures of the two big drawing projects I've done in the last few years.");
  } else if ($($(event.target)[0]).hasClass("github-link")) {
    $('.message-box').text("");
    $('.message-box').text("my github profile page.");
  } else if ($($(event.target)[0]).hasClass("more-link")) {
    $('.message-box').text("");
    $('.message-box').text("other things I've created that might be of interest to some people.");
  }
}

function removeButtonMessage() {
  $('.message-box').text("- - -");
}

if ($(window).width() < 957) { $('.header-text').text("sam schaack"); }
if ($(window).width() < 470) { $('.info-wrapper').css("font-size", "365%"); }
if ($(window).width() < 795) { $('.message-box').css("font-size", "22%"); }

$(window).on('resize', function() {
  if ($(window).width() < 957) { $('.header-text').text("sam schaack"); }
  else { $('.header-text').text("sam schaack - recent work"); }
});

$(window).on('resize', function() {
  if ($(window).width() < 795) { $('.message-box').css("font-size", "22%"); }
  else { $('.message-box').css("font-size", "28%"); }
});

$(window).on('resize', function() {
  if ($(window).width() < 470) { $('.info-wrapper').css("font-size", "365%"); }
  else { $('.info-wrapper').css("font-size", "425%"); }
});

$('.link-box').on("mouseenter", buttonMessage);
$('.link-box').on("mouseleave", removeButtonMessage);

</script>