* {
/*  border: 1px red solid;*/
  font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
/*  border: 1px red solid;*/
}

html {
/*  background-color: #AAA;*/
  background-color: #E3F5FF;
  
  background-image: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#DDD));
  background-attachment: fixed;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

body {
/*  background-color: gray;*/
/*  -webkit-box-shadow: 1px 1px 1px 1px rgba(50, 150, 150, .1);*/
/*  -moz-box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, .1);*/
/*  box-shadow: 1px 1px 1px 1px rgba(150, 150, 150, .1);*/
}

.main {
  position: relative;
}

.info-wrapper {
  position: absolute;
  height: 50px;
  width: 85%;
  left: 7.5%;
  top: 20px;
  text-align: left;
  font-size: 425%;
  color: #666;
  text-shadow: 2px 2px #DEDEDE;
}

.info-wrapper:hover {
/*  text-decoration: underline;*/
}

.link-wrapper {
  position: absolute;
  width: 85%;
  top: 185px;
  left: 7.5%;
}

.link-box {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#6BC7FF), to(#4CB5FF));
  border-radius: 10px;
  border: 1.5px dotted #79D9FF;
  margin-right: 1rem;
  margin-bottom: 1rem;
  -webkit-box-reflect: below -55px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), to(rgba(255,255,255,0.5)));
  text-shadow: 1px 1px #2A79E8;
}

.link-box:hover {
  background-image: -webkit-gradient(linear, center top, center bottom, from(#4CB5FF), to(#2A79E8));
  text-shadow: 1px 1px #6BC7FF;
  -webkit-box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, .1);
  -moz-box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, .1);
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, .1); 
  -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), to(rgba(255,255,255,0.5)));
/*  width: 310px;
  height: 310px;
  top: 5px;
  left: -5px;*/
}

.box-label:hover {
  text-decoration: underline;
}

.box-label {
  color: white;
  position: absolute;
  width: 300px;
  top: 40%;
  text-align:center;
  font-size: 300%;
}

.sc-player {
  border-radius: 8px;
  margin-bottom: .5rem;
  -webkit-box-reflect: below 8px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), to(rgba(255,255,255,0.5)));
}

.art-image {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2); 
}